.dashboard {
  background: unset;

  :global {
    .ant-layout-header {
      padding: 0px;
      background: #fff;
      z-index: 1;
      box-shadow: 0px 1px 1px 0px #0000001a;
    }

    .ant-layout.ant-layout-has-sider {
      position: relative;
    }

    .ant-layout-footer {
      padding: 2px 26px;
    }
  }

  .layout-collapsed {
    transition: all 0.2s 0.03s;
    -moz-transition: all 0.2s 0.03s;
    -webkit-transition: all 0.2s 0.03s;
    -o-transition: all 0.2s 0.03s;
    overflow-y: auto;
  }
}
