@import './variable';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: -webkit-fill-available;
  background-color: #f9f9f9;
  scroll-behavior: smooth;
}

// .ant-table-row.warning {
//   > td.ant-table-cell {
//     background: rgba($color: #ffcc99, $alpha: 1);
//   }

//   &:hover {
//     > td.ant-table-cell.ant-table-cell-row-hover {
//       background: rgba($color: #ffcc99, $alpha: 1);
//     }
//   }
// }

.text-primary {
  color: $primaryColor;
}

.text-danger {
  color: $dangerColor;
}

.hover-primary {
  &:hover {
    --tw-bg-opacity: 1;
    background-color: $primaryColor;
  }
}

.bg-primary {
  background-color: $primaryColor;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 36em) {
    max-width: 540px;
  }

  @media (min-width: 48em) {
    max-width: 720px;
  }

  @media (min-width: 62em) {
    max-width: 960px;
  }

  @media (min-width: 75em) {
    max-width: 1140px;
  }

  @media (min-width: 87.5em) {
    max-width: 1320px;
  }
}

.container:where(.fluid) {
  max-width: 100%;
  width: 100%;
}

// :is([type='button'], [type='submit']):where(.ant-btn.ant-btn-primary) {
//   background-color: $primaryColor;
// }

#root {
  position: fixed;
  inset: 0;
  overflow-y: hidden;
}

.ant-table-wrapper {
  .ant-table {
    background: unset;

    table {
      .ant-table-thead {
        > tr {
          border-top-right-radius: 4px;
          border-top-left-radius: 4px;
          border: 1px solid #dee4ed;

          > th {
            background-color: #f9fcff;
            color: #788ba5;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            text-overflow: ellipsis;
          }
        }
      }

      .ant-table-tbody {
        .ant-table-row {
          .ant-table-cell {
            padding: 8px;
            background-color: #ffffff;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        > .ant-table-row:nth-child(odd) {
          .ant-table-cell {
            background: rgba($color: #fafafa, $alpha: 1);
          }
        }

        > .ant-table-row:last-child {
          border-bottom-right-radius: 4px;
          border-bottom-left-radius: 4px;
          overflow: hidden;
        }
      }

      .ant-table-cell {
        .ant-checkbox-wrapper.ant-checkbox-wrapper-checked {
          .ant-checkbox {
            .ant-checkbox-inner {
              background-color: transparent;
              border-color: $primaryColorLight;

              &::after {
                border-color: $primaryColorLight;
              }
            }
          }
        }

        .ant-checkbox-wrapper {
          .ant-checkbox:not(.ant-checkbox-disabled) {
            &:hover {
              .ant-checkbox-inner {
                border-color: $primaryColorLight;
              }
            }
          }

          .ant-checkbox.ant-checkbox-indeterminate {
            .ant-checkbox-inner {
              &::after {
                background-color: $primaryColorLight;
              }
            }
          }
        }
      }
    }
  }
}

.ant-modal-root {
  .ant-modal-wrap {
    .ant-modal {
      .ant-modal-content {
        padding: 0;

        .ant-modal-header {
          padding: 20px 24px;
          margin-bottom: 34px;
          border-bottom: 1px solid #dee4ed;
        }

        .ant-modal-body {
          padding: 0 24px;
        }

        .ant-modal-footer {
          padding: 0 24px 20px;

          // .ant-btn.ant-btn-primary:not(:disabled) {
          //   background-color: $primaryColorLight;
          //   box-shadow: 0 2px 0 rgba($color: $primaryColorLight, $alpha: 0.5);
          // }
        }
      }
    }
  }

  .ant-form {
    .ant-form-item {
      .ant-form-item-label {
        label {
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }
}

// .ant-input-affix-wrapper {
//   .ant-input {
//     margin-left: 10px;
//   }
// }

// .ant-switch {
//   background-color: rgba(0, 0, 0, 0.25);
// }
